<config>
	<vfs>
		<rom name="atari800.bdf"/>
		<dir name="fonts">
			<dir name="title">
				<bdf name="regular" path="/atari800.bdf" scale="3" highlighted="yes" interlaced="yes" cache="256K"/>
			</dir>
			<dir name="text">
				<bdf name="regular" path="/atari800.bdf" scale="2" interlaced="yes" cache="256K"/>
			</dir>
			<dir name="annotation">
				<bdf name="regular" path="/atari800.bdf" shade="light" interlaced="yes" cache="256K"/>
			</dir>
			<dir name="monospace">
				<bdf name="regular" path="/atari800.bdf" cache="256K"/>
			</dir>
		</dir>
	</vfs>

	<default-policy root="/fonts" />
</config>
